.highlight-container, .highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}
.highlight-container:before {
    content: " ";
    display: block;
    margin-top: 8px;
    height: 80%;
    width: 100%;
    position: absolute;
    background: theme('colors.csprim');
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 30% 35% 30% 34%;
}

.name-container, .highlight {
    position: relative;
}

.name-container {
    display: inline-block;
}
.name-container:before {
    content: " ";
    display: block;
    margin-top: 8px;
    height: 80%;
    width: 100%;
    position: absolute;
    background: theme('colors.csprim');
    transform: rotate(2deg);
    top: -1px;
    left: -1px;
    border-radius: 30% 35% 30% 34%;
}



